#navbar {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #2d170c;
}

#innernavbar {
}

#logo {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 64px !important;
    padding: 24px 15px;
    margin-left: 0;
}

#container {
    background-color: #ffffff;
    margin: 0 auto;
    min-width: 1000px;
    width: 80%;
    box-shadow: 5px #000;
}

#content {
    margin: 0;
    padding: 15px;
}

#footer {
    color: #bbbbbb;
    font-size: 14px;
    text-align: center;
    padding: 8px;
}

#menu {
    margin: 0;
    padding: 0;
    background-color: #562c17;
}

.main {
    display: block;
    min-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.topmenu {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px !important;
    padding: 15px;
    margin: 0;
    cursor: pointer;
}

.topmenu:hover {
    background-color: #67351c;
}

.menuright {
    float: right;
}

#form {
    text-align: center;
    margin: 0 auto !important;
    padding: 30px;
    width: 240px;
}

body {
    font-family: Arial;
    background-color: #eee;
    padding: 0;
    margin: 0;
    background-image: url("/images/background.png") !important;
}

input[type="text"], input[type="password"], button, input[type="submit"], input[type="button"] {
    margin: 7px;
    padding: 12px;
}

h1 {
    font-size: 24px;
    margin-top: 0 !important;
    margin-bottom: 8px !important;
    padding: 10px;
    display: block;
    text-align: center;
    border-bottom: #555 solid 2px;
    color: #222;
}

.errorMessage {
    background: #fdd;
    color: #a00;
    padding: 15px;
}

.book {
    width: 30% !important;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.book-table {
    width: 100% !important;
    min-height: 220px !important;
}

.book-table-img {
    width: 40% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    background-position: center;
}

.book-table-main {
    width: 60% !important;
    padding: 0 5px;
    text-align: left;
}

.book img {
    max-width: 95%;
    max-height: 200px;
}

.book-name {
    color: #562c17;
    font-size: 20px;
}

.book-author {

}

.book-description {
    font-size: 12px;
}

table {
    border-spacing: 0 !important;
}

#maintable {
    width: 100% !important;
}

#menuleft, #tdcontent {
    padding: 0 !important;
}

#menuleft {
    min-width: 200px !important;
    width: 20% !important;
}

#menuleft div {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    font-size: 16px !important;
    padding: 15px;
    cursor: pointer;
}

#menuleft div:hover {
    background-color: #e4ddd9;
}

#content {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.form-fields {
    padding: 12px;
}

.buttonBuy {
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    background: #562c17;
    color: white;
    margin: 2px;
    padding: 8px;
}

#menuRightCart:hover, .buttonBuy:hover {
    background-color: #67351c !important;
}