<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::body},'container')}">
<head>
</head>
<body>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
<table id="maintable" border="0">
    <tr>
       <!-- TODO: Categories
       <td id="menuleft" valign="top">
            <div th:each="c: ${categories}">
                <a th:text="${c.name}"></a>
            </div>
        </td>-->
        <td id="tdcontent" valign="top">
            <div id="content">
                <h1 th:text="#{h1.Books}"></h1>
                <div id="bestsellers" th:text="#{general.loading}"></div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>