<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::body},'container')}">
<head>
</head>
<body>
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
<div id="form">
    <h1 th:text="#{${title}}"></h1>
    <div th:if="${loginError}" class="errorMessage" th:text="#{signIn.error}"></div>
    <form name="authenticationForm" th:action="@{/login}" method="post"
          onsubmit="if(!validateForm()) return false;">
        <div class="form-group">
            <input type="text" id="inputUsername" name="inputUsername" placeholder="#{signIn.Username}"
                   th:value="${authData.username}"/>
        </div>
        <div class="form-group">
            <input type="password" id="inputPassword" name="inputPassword" placeholder="#{signIn.Password}"
                   th:value="${authData.password}"/>
        </div>
        <button type="submit">Sign in</button>
    </form>
</div>
</body>
</html>